<%= turbo_frame_tag "comments" do %>
  <% if @comments.empty? %>
    <li class="relative flex gap-x-4">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mt-1 flex-none">
        <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
      </svg>
      
      <div class="flex-auto rounded-md p-3 ring-1 ring-inset ring-gray-300 bg-white">
        <div class="comment-text text-sm leading-6 text-gray-500">
          No comments yet.        
        </div>
      </div>
    </li>
  <% end %>

  <ul class="space-y-6">
    <% @comments.each do |comment| %>
      
        <li class="relative flex gap-x-4">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mt-1 flex-none text-gray-500">
            <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
          </svg>
          
          <div class="flex-auto rounded-md p-3 ring-1 ring-inset ring-gray-300 bg-white">
            <div class="flex justify-between gap-x-4">
              <div class="py-0.5 text-sm leading-5 font-medium text-gray-900">
                <%= comment.by %>
              </div>
              <time class="flex-none py-0.5 text-xs leading-5 text-gray-500">
                <%= time_ago_in_words(Time.at(comment.time)) %> ago
              </time>
            </div>

            <div class="comment-text mt-2 text-sm leading-6 text-gray-500">
              <%= sanitize(CGI.unescapeHTML(comment.body.to_s)) %>
            </div>
          </div>
        </li>
      </div>
    <% end %>
  </ul>
<% end %>
